<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="/static/index.css" rel="stylesheet" type="text/css">
{#    <link href="/static/checkbox.css" rel="stylesheet" type="text/css">#}
    <link href="/static/checkbox.css" rel="stylesheet" type="text/css">
{#        <link href="/static/btn.css" rel="stylesheet" type="text/css">#}


</head>
<body>

<div class="container">

    <div class="console">

        <code>
            <p> 这是一个打招呼的界面,绝不是什么钓鱼网站，或者勒索病毒，我是一个好人，这个是显而易见的 </p>

        </code>
    </div>
    <a href="{{ url_for('huaji') }}">
        <div id="button">
            <span style="text-decoration: line-through">屠龙宝刀 </span>见面礼，点击就送9999+</div>
{#        <canvas id="myCanvas" width="500" height="500"></canvas>#}
    </a>

</div>
</body>

<script type="text/javascript" src="/static/index.js"></script>
<script type="text/javascript" src="/static/btn.js"></script>

</html>